body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.tool-bar {
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    position: fixed;
    z-index: 500;
}

.tool-bar button{
    color: #fff;
    background-color: transparent;
    border: 0;
    margin-top: 15px;
    font-size: 17px;
    margin-left: 10px;
}

.main {
    width: 94%;
    padding: 10px;
    float: right;
    margin-top: 50px;
}

.main ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main ul li video {
    width: 100%
}

.main ul li .btn-download {
    border: 0;
    background-color: dodgerblue;
    border-radius: 15px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 2px;
}

.main ul li .btn-download img {
    width: 90%;
    fill: #fff;
}

.main ul li h2{
    font-size: 15px;
}

.video-control{
    width: 100%;
    display: flex;
}

.download-manager{
    position: fixed;
    width: 100%;
    height: calc(100vh - 70px);
    overflow: auto;
    background-color: #999;
    z-index: 100;
    top: 0;
    left: -120vw;
    transition: .5s;
}

.download-manager video {
    width: 100px !important;
}

.download-manager ul li{
    float: left;
    margin: 10px;
}

/**/

.main ul li{
    margin-top: 10px;
}

.main ul li button{
    width: 100%;
    background-color: dodgerblue;
    color: #fff;
    border: 0;
    cursor: pointer;
    /*border-radius: 10px;*/
}

.main ul li button img{
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.main ul li .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin-top: 0px;
    margin-left: 0px;
}

.main ul li .progress-bar > div {
    width: 0;
    height: 5px;
    background-color: green;
}

.downloaded{
    background-color: green !important;
}

.modal_view{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal_view .close{
    position: absolute;
    top: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.modal_view video{
    width: 90%;
}
